# Ignore everything.
**

# Include only files relevant to the build.
!src/**
!include/**
!tests/**
!CMakeLists.txt
!install-cmake.sh
!install-python.sh
!setup-env.sh
!install-valgrind.sh
!Config.cmake.in
